/*admin-user-table.html*/
table th,table{

	text-align: center;

}
table tr div{
	text-align: center;
}


#select{

	margin-top: 20px;
	margin-bottom: 20px;
}

.user-condition{

	width: 1000px;
	margin-left: 35px;
	text-align: right;
}

.user-condition span{
	margin-left: 30px;
	font-family: "幼圆";
	font-size: 15px;
}

.user-condition input{
	width: 100px;
	height: 20px;
	border: 1px thin gray;
	font-size: 15px;


}
.select-btn{
	color: gray;
	margin-left: 30px;
	font-size: 15px;
	color: black;
}


#addBtn,#delBtn,#resetPassword{

	font-size: 15px;
}

/* selection-notes-table*/

.selection-notes-condition{

	width: 1000px;
	margin-left: 35px;
	text-align: right;
}



.selection-notes-condition input{
	width: 100px;
	height: 30px;
	border: 1px thin gray;
	font-size: 15px;


}

#addSelectionNotesBtn,#delSelectionNotesBtn{

	font-size: 15px;
}

/*applicant-table*/
#addApplicantBtn,#delApplicantBtn{

	font-size: 15px;
}

/*poverty-measure-table.html*/
#addMeasureBtn,#delMeasureBtn{
	font-size: 15px;
}

/*poverty-plan-table.html*/
#addPlanBtn,#delPlanBtn{
	font-size: 15px;
}


/*dictionary-table.html*/
#addDictionaryBtn,#delDictionaryBtn{
	font-size: 15px;
}